* {
 box-sizing: border-box;
}

body {
  color: #222;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

label {
  display: block;
}

input[type="text"] {
  width: 100%;
  padding: 0.2em;
  font-size: 1em;
}

.SiteContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.SiteHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.SiteHeader {
  margin-bottom: 2em;
}

.SiteHeader h1 {
  font-weight: bold;
  font-size: 2em;
}

.SiteHeader .Tagline {
  font-size: 1em;
  font-style: italic;
}

.Account {
  padding: 0.5em;
  border: 1px solid #e4e4e4;
  width: 100%;
}

form.disabled {
  opacity: 0.5;
  cursor: default;
}

form.loading {
  opacity: 0.5;
  cursor: wait;
}

form label {
  margin-bottom: 0.2em;
}

form div {
  margin-bottom: 1em;
}

form button {
  -webkit-appearance: none;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  background: #fff;
  color: #222;
  border: 1px solid #222;
  border-radius: 0;
  cursor: pointer;
  padding: 0.3em 0.7em;
  min-width: 150px;
}

.Account form {
  display: block;
  margin-bottom: 1.5em;
}

.ConnectedAccount {
  margin-bottom: 1.5em;
}

.Seller {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #e4e4e4;
  margin-left: 2em;
}

.SellerFormTitle {
  margin-bottom: 1.5em;
}

.Forms {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

#logs {
  height: 300px;
  overflow: auto;
}

.Register {
  padding: 0.5em;
  border: 1px solid #e4e4e4;
  margin-bottom: 2em;
}

.Register h3 {
  font-size: 16px;
}

@media (max-width: 760px) {
  .SiteHeaderContainer {
    flex-direction: column;
  }

  .SiteHeaderInfo {
    margin-bottom: 2em;
  }

  .Forms {
    flex-direction: column;
  }

  .Account {
    margin-bottom: 2em;
  }

  .Seller {
    margin-left: 0;
  }
}
